#jinja2: lstrip_blocks: True, trim_blocks: True
{{ ansible_managed | comment }}
version: "3.9"
services:
  wg-portal:
    container_name: wgportal-{{ wgportal_datacenter }}
    image: wgportal/wg-portal:{{ wgportal_version }}
    restart: unless-stopped
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    cap_add:
      - NET_ADMIN
    environment:
      - TZ={{ wgportal_timezone }}
{% if wgportal_hosts_file | length > 0 %}
    extra_hosts:
  {% for dn, ip in wgportal_hosts_file.items() %}
      {{ dn }}: {{ ip }}
  {% endfor %}
{% endif %}
{% if wgportal_mode == 'host' %}
    network_mode: host
    volumes:
      - /etc/wireguard:/etc/wireguard
      - {{ wgportal_conf_dir }}/config.yml:/app/config/config.yml:ro
      - {{ wgportal_data_dir }}:/app/data
{% elif wgportal_mode == 'single' %}
    network_mode: bridge
    ports:
      - "8888:8888/tcp"
      - "51820:51820/udp"
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    volumes:
      - {{ wgportal_conf_dir }}/etc:/etc/wireguard
      - {{ wgportal_conf_dir }}/config.yml:/app/config/config.yml:ro
      - {{ wgportal_data_dir }}:/app/data
{% elif wgportal_mode == 'service' %}
    network_mode: "service:wireguard"
    depends_on:
      - wireguard
    volumes:
      - {{ wgportal_conf_dir }}/etc:/etc/wireguard
      - {{ wgportal_conf_dir }}/config.yml:/app/config/config.yml:ro
      - {{ wgportal_data_dir }}:/app/data

  wireguard:
    image: amneziavpn/amneziawg-go:latest
    container_name: wireguard
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "8888:8888/tcp"
      - "51820:51820/udp"
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    volumes:
      - {{ wgportal_conf_dir }}/etc:/etc/wireguard
{% else %}
    # Unsupported wgportal_mode: {{ wgportal_mode }}
    # Valid values are: host, single, bridge
{% endif %}
