#jinja2: lstrip_blocks: True, trim_blocks: True
{{ ansible_managed | comment }}
services:
  {{ mtproxy_datacenter }}:
    container_name: mtproxy-{{ mtproxy_datacenter }}
    image: telegrammessenger/proxy:{{ mtproxy_version }}
    ports:
      - {{ mtproxy_https_port }}:443/tcp
    network_mode: bridge
{% if mtproxy_hosts_file  | length > 0 %}
    extra_hosts:
  {% for dn, ip in mtproxy_hosts_file.items() %}
      {{ dn }}: {{ ip }}
  {% endfor %}
{% endif %}
    restart: unless-stopped
    volumes:
      - {{ mtproxy_data_dir }}:/data
    ulimits:
      memlock: -1
      nofile: {{ 32777 * (( mtproxy_secret | length ) + 1) }}
    environment:
      - TZ={{ mtproxy_timezone }}
      - SECRET={{ mtproxy_secret | join(',') }}
      - SECRET_COUNT={{ mtproxy_secret | length }}
      - WORKERS={{ mtproxy_secret | length }}
    healthcheck:
      test: "ss -lnt | grep -q ':443'"
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
